/** Import Bootsrap **/

@import "../bootstrap/scss/bootstrap";

/* variables */

$bootstrap-xs: "(max-width : 767px)";
$bootstrap-sm: "(min-width : 768px) and (max-width : 991px)";
$bootstrap-md: "(min-width : 992px) and (max-width : 1199px)";
$bootstrap-lg: "(min-width : 1200px)";

$bootstrap-md-lg: "(min-width : 992px)";
$bootstrap-sm-md: "(min-width : 768px) and (max-width : 1199px)";
$bootstrap-min-xs: "(min-width : 768px)";

$bootstrap-max-sm: "(max-width : 991px)";
$bootstrap-max-md: "(max-width : 1199px)";


/** Colors **/

$orange: #ef773b;
$sky-blue: #c4e5ec;
$dark: #5a5a5a;
$gray-light: #acacac;
$gray-very-light: #d9d9d9;
$gray-dark: #474646;
$white: #fff;
$dark-blue: #3b5998;


/** Generic classes **/
.txt {
    &-orange {
    	color: $orange;
    }
    &-dark {
    	color: $dark;
    }
    &-gray-light {
    	color: $gray-light;
    }
    &-gray-very-light {
    	color: $dark;
    }
    &-gray-very-light {
    	color: $dark;
    }
    &-white {
    	color: $white;
    }
    &-sky-blue {
		color: $sky-blue;
	}
}
.bg {
	&-sky-blue {
		background-color: $sky-blue;
	}
    &-orange {
    	background-color: $orange;
    }
    &-dark {
    	background-color: $dark !important;
    }
    &-gray-light {
    	background-color: $gray-light;
    }
    &-gray-very-light {
    	background-color: $gray-very-light;
    }
    &-white {
    	background-color: $white;
    }
    &-dark-blue{
    	background-color: $dark-blue;
    }
}
.border {
	&-orange {
		border-color: $orange !important;
	}
	&-dark {
		border-color: $dark !important;
	}
	&-gray-light {
		border-color: $gray-light !important;
	}
	&-gray-very-light {
		border-color: $gray-very-light !important;
	}
	&-white {
		border-color: $white !important;
	}
}


.border-radius {
	&-6 {
		border-radius: 6px;
	}
	&-12 {
		border-radius: 12px;
	}
}
.box-shaddow {
	box-shadow: 0px 5px 10px 0px $gray-light;
}

section {
	margin: 30px 0;
}

/* Jumbotron */
.jumbotron {
	min-height: 500px;
	padding: 8rem 2rem;
	background-position: center center;
    background-size: 100%;
	background: linear-gradient(
      rgba($white, 0.85), 
      rgba($white, 0.25)),
      url(../images/banner.jpg);
	
	.search-form {
		.input-group {
			.form-control {
			    border: 0;
			    border-radius: 0;
			    background: rgba($white, 0.25);
			    font-size: 42px;
			    text-transform: uppercase;
			}
			.fa {
				font-size: 32px;
				color: $dark;
				margin: auto;
				padding: 10px;
				color: $orange;
			}
		}
	}
	hr {
		border-top: 1px solid $dark;
	}
}
/* Carousel CSS */
.carousel {
	.carousel-item {
		.carousel-caption {
			background-color: rgba($white, 0.8);
			top: 35%;
    		bottom: 35%;
			@media #{$bootstrap-xs}
			{
				top: 25%;
    			bottom: 25%;
			}
		}
	}
	a[class^="carousel-control-"] {
		font-size: 36px;
	}
	.carousel-indicators {
		li {
			opacity: 0.4;
			&.active {
				opacity: 1;
			}
		}
	}
}
/* Navbar CSS */
.navbar {
	.navbar-brand {
		color: $orange;
	}
	.navbar-nav {
		.nav-item {
			.nav-link {
				color: $dark;
				border-radius: 6px;
				padding: 10px;
				&:hover, &:active {
					&:not(.disabled) {
						color: $orange;
					}
				}
				&.disabled {
					color: $gray-light
				}
			}
			&.active {
				.nav-link {
					color: $orange;
				}
			}
			.dropdown-menu {
				left: auto;
				right: 0px; 
				position: absolute;
				border: 0;
				border-top: 2px solid;
				padding: 0;
				@media #{$bootstrap-xs} {
					right: -50px
				}

				a {
					&:active, &:hover {
						color: $orange;
						background-color: transparent;
					}
				}
				&.message-dropdown-menu {
					max-width: 400px;
					@media #{$bootstrap-xs} {
						max-width: 240px;
					}
					.message-card {
						.message-card-body {
							font-size: 12px;
						}
					}
					.dropdown-item {
						border-bottom: 1px solid $dark;
					    white-space: normal;
						@media #{$bootstrap-xs} { 
							padding: 5px; 
						}
					}
				}
			}
			.badge {
			    position: absolute;
			    top: 2px;
    			left: 2px;
			    border-radius: 50%;
			}
		}
	}
}
.badge-orange {
    color: $white;
    background-color: $orange;
}

footer {
	padding: 60px 0;
	color: $dark;
}

@import "product-details";
@import "message-card";
@import "review-card";
@import "email-card";

@import "profile-card";
@import "email-msg-thread";
@import "message-thread";
@import "payouts";
@import "stuff-borrowing-panel";
@import "product-view";
@import "carousel";
@import "navbar";
@import "notification";
@import "stuff-borrowing-panel";
@import "product-carousel";
@import "payout-list";
@import "message-list";
@import "payment-methods";
@import "footer";
@import "home-page";
@import "login";
@import "signup";
@import "data-model";
@import "sidebar";





