.account {
  min-height: 250px;
  background-position: center center;
  background-size: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.25)), url(../images/banner.jpg);
}
.fa-envelope {
  color: #fd6702;
}
.fa-phone {
  color: #fd6702;
}