.whats-new{
	padding-bottom: 70px;
	.whats-new-heading {
		padding-top: 40px;
		padding-bottom:40px;
	.whats-new-image {
			width:400px; 
			height: 150px;
		}
	}

}
.need-help{
	padding-bottom: 70px;
	.need-help-heading {
	padding-top: 70px;
	padding-bottom:40px;
	}
	.need-help-img {
	width:300px;
	}
}

.join-community {
	min-height: 250px;
	background-position: center center;
	background-size: 100%;
	background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.25)), url(../images/banner.jpg);
		.join-community-heading {
			margin-top: 75px;
	}

}







