.message-list {
			.table {
					 
						thead	th {
									    font-size: 16px;
									    font-weight: bold;
									    color: $gray-dark;
							}
								td {
										font-size: 1rem;
							    		color: $gray-dark;
							}
			.message-list-user-avtar {
					.message-list-user-name {
								font-size: 1rem;
					    		color: $gray-dark;
							}
					
			}
			.message-list-description {
								
				    	.message-list-info {
					    			font-size: 16px;
									font-weight: bold;
									color: $gray-dark;
									margin-bottom: 2px;
					    	}
					}
				
		}
}