
		.navbar {
		.navbar-brand {
			margin-left: -6px;
			.logo-image {
				position:absolute;
				top:16px;
			}
		}
	}

@media (max-width: 767px) {
.navbar {
	.navbar-brand {
		.logo-image {
			width: 75px;
   			margin-top: 6px;
		}
	}
}
}