.product-card {
    box-shadow: 0px 5px 10px 0px $sky-blue;
    border: 1px solid $sky-blue;
    .product-card-rating {
        .rating-user-avtar {
            width: 80px;
            height: 80px;
        }
    }
}

.preview {
    .thumbnail-items {
        float: right;
    }
    .preview-pic {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .preview-thumbnail {
            margin-top: 8px;
            margin-bottom: 8px;
        &.nav-tabs {
            border: none;
            margin-top: 15px;
            li {
                width: 18%;
                margin-right: 2.5%;
                img {
                    display: block;
                    max-width: 100%;
                }
            }
        }
    }
}

.details {

    @media #{$bootstrap-xs} {
        margin: 10px;
    }
    .product-title, .price, .sizes, .colors {
        margin-top: 0;
        margin-bottom: 15px;
        text-transform: UPPERCASE;
        font-weight: bold;
        color: $gray-dark;
    }
     .rating, .product-description, .price, .vote, .sizes {
        margin-bottom: 15px;
        color: $gray-dark;
        font-size: 1rem;
    }
    .rating {
        .stars {
            .checked {
                color: $orange;
            }
        }
    }
    .price {
        span {
            color: $orange;
        }
    }
    
}