.profile-card {
		box-shadow: 0px 5px 10px 0px $sky-blue;
	    border: 1px solid $sky-blue;
	@media #{$bootstrap-xs} {
		display: block;
	}
	.profile-card-avatar {
		width: 200px;
	}
	.profile-card-body {
		.profile-card-title {
			h6 {
				font-size: 18px;
			    font-weight: bold;
			    color: $gray-dark;
			}
		}
		.profile-card-text {

		}
		.profile-card-details {
			p {
				margin: 5px 0;
			    color: #474646;
			    font-size: 1rem;
			}
		}
	}
	.profile-card-map {
		width: 200px;
		.profile-card-map-address {
			    text-align: center;
		}
	}
}
