.profile-card {
	.profile-card-avatar {
		width: 200px;
	}
	.profile-card-body {
		.profile-card-title {

		}
		.profile-card-text {

		}
		.profile-card-details {
			p {
				margin: 5px 0;
			}
		}
	}
	.profile-card-map {
		width: 200px;
	}
}
