.review-card {
	.review-card-avtar {
		width: 150px;
		height: 150px;
		img {
			width: 100%;
		}
	}
	.review-card-body {
		.review-card-title {
			display: inline-block;
		}
		.review-card-rating-stars {
			display: inline-block;
		}
		.review-card-user-name {

		}
		.review-card-text {

		}
	}
}
